# Python
__pycache__/
*.pyc
*.pyo

# macOS junk
.DS_Store

# Generated debug visuals
**/debug_vis/
*_mask_bw.png
*_score_*.png
*_original.png

# Generated outputs
**/input_change_stats.csv
**/instances.csv

# Generated artifacts
results/**/logs/
onnx/
benchmarks/*/vnnlib/
benchmarks/*/onnx/
benchmarks/vggnet16_benchmark2022_segmented/input_change_stats.csv

# datasets
complete_verifier/datasets/
*.tar.gz
